<p id="notice"><%= notice %></p>

<h1>Cart Products</h1>
<h1>Customer Name: <%= @customer.name %></h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cart_products.each do |cart_product| %>
      <tr>
        <td><%= cart_product.product.name %></td>
        <td><%= link_to 'Show product', merchant_product_path(cart_product.product.merchant, cart_product.product), {:style=>'background-color:yellow;'} %></td>
        <td><%= link_to 'Remove from Cart', cart_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Go to Merchant List', merchants_path %>
