<p id="notice"><%= notice %></p>
<h1>Customer Name: <%= @customer.name %></h1>
<h1>Customer Name: <%= @customer.product.merchant.name %></h1>

<p>
  <strong>Cart:</strong>
  <%= @cart_product.cart %>
</p>

<p>
  <strong>Product:</strong>
  <%= @cart_product.product %>
</p>

<%= link_to 'Edit', edit_cart_product_path(@cart_product) %> |
<%= link_to 'Back', cart_products_path %>
