<!DOCTYPE html>
<html lang="ar">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DohaSooq - Merchant List</title>

    <!-- Bootstrap Core CSS -->
    <link href="/assets/css/main.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="ds-no-transition">
<div id="wrapper" style="padding-top: 0px!important">
    <div class="overlay"></div>
    <!-- Sidebar -->
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/header' %>

    <section class="full-width-wrapper bcmp-pgntn-section bg-light-pink">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="sideheading_with_underline">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-xs-12 col-sm-push-4 col-sm-8 col-xs-12">
                                <div class="row">
                                    <ol class="breadcrumb ds-breadcrumb pull-right">
                                      <li><a href="#">Home</a></li>
<!--                                      <li><a href="#">My Account</a></li>-->
                                      <li class="active">Merchant List</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-pull-8 col-sm-4 col-xs-12">
                                <h2 class="side_heading">
                                    <span>All Merchant List</span>
                                </h2>
                            </div>
                        </div>
                        <div class="ds-default-line-wrapper"><div class="ds-default-line"></div></div>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <section class="full-width-wrapper bg-light-pink merchant-list">
        <div class="container">
            <div class="row material_form_wrapper">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <form class="search">
                        <div class="form-group pull-right">
                            <label for="search">Search</label>
                            <input type="text" name="Search">
                        </div>
                    </form>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 merchant-wrapper">
                    <% @merchants.each_slice(2).each do |slices| %>
                    <% slices.each do |merchant| %>
                    <div class="col-md-6 col-sm-6 col-xs-12 pl0">
                        <div class="merchant-list-details">
                            <div class="col-md-5 col-sm-12 col-xs-12 logo_container">
                                <div class="merch-logo">
                                  <img class="menu_icon" height="auto" width="150px" src="<%= merchant.logo %>" />
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-12 col-xs-12 merchant_container">
                                <div class="merch-detail">
                                    <h5><%= merchant.name %></h5>
                                    <div class="contacts">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <p><%= merchant.address %></p>
                                    </div>
                                    <div class="contacts">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <p><%= merchant.phone %></p>
                                    </div>
                                    <div class="contacts">
                                        <i class="fa fa-fax" aria-hidden="true"></i>
                                        <p><%= merchant.mobile %></p>
                                    </div>
                                    <div class="contacts">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                        <p><%= merchant.email %></p>
                                    </div>
                                    <div class="contacts">
                                        <i class="fa fa-globe" aria-hidden="true"></i>
                                        <p><%= merchant.website %></p>
                                    </div>
                                    <%= link_to 'Show Products', merchant_products_path(merchant), {:class=>'more-info'}%>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% end %>

                    <%end%>

                </div>
            </div>
        </div>
    </section>
    <%= render 'layouts/footer' %>

</div>
</body>

</html>
