
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @merchant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @merchant.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @merchant.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @merchant.website %>
</p>

<p>
  <strong>About:</strong>
  <%= @merchant.about %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @merchant.phone %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @merchant.mobile %>
</p>

<%= link_to 'Edit', edit_merchant_path(@merchant) %> |
<%= link_to 'Back', merchants_path %>
