<p id="notice"><%= notice %></p>

<h1>Wishlists</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wishlists.each do |wishlist| %>
      <tr>
        <td><%= wishlist.product.name %></td>
        <td><%= link_to 'Show Product', merchant_product_path(wishlist.product.merchant, wishlist.product) %></td>
        <td><%= link_to 'Remove From Wishlist', wishlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Go to Merchant List', merchants_path %>
