<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @wishlist.customer %>
</p>

<p>
  <strong>Product:</strong>
  <%= @wishlist.product %>
</p>

<%= link_to 'Edit', edit_wishlist_path(@wishlist) %> |
<%= link_to 'Back', wishlists_path %>
