<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :price_per_unit %>
    <%= f.text_field :price_per_unit %>
  </div>

  <div class="field">
    <%= f.label :unit %>
    <%= f.text_field :unit %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :merchant_id %>
    <%= f.text_field :merchant_id %>
  </div>

  <div class="field">
    <%= f.label :product_type_id %>
    <%= f.text_field :product_type_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
