<!DOCTYPE html>
<html lang="ar">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/assets/css/main.css" rel="stylesheet">

    <title>DohaSooq - Merchant List</title>

    <!-- Bootstrap Core CSS -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="ds-no-transition">
<div id="wrapper" style="padding-top: 0px!important">
    <div class="overlay"></div>
    <!-- Sidebar -->
    <%= render 'layouts/header' %>

    <section class="full-width-wrapper bcmp-pgntn-section bg-light-pink">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="sideheading_with_underline">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-xs-12 col-sm-push-4 col-sm-8 col-xs-12">
                                <div class="row">
                                    <ol class="breadcrumb ds-breadcrumb pull-right">
                                      <li><a href="#">Home</a></li>
<!--                                      <li><a href="#">My Account</a></li>-->
                                      <li class="active">Product List</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-pull-8 col-sm-4 col-xs-12">
                                <h2 class="side_heading">
                                    <span>Merchant Product List</span>
                                </h2>
                            </div>
                        </div>
                        <div class="ds-default-line-wrapper"><div class="ds-default-line"></div></div>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <section class="full-width-wrapper bg-light-pink merchant-list">
        <div class="container">
            <div class="row material_form_wrapper">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div style="margin-left: 20%">
                      <%= search_form_for @q, {class: "form-group pull-right"} do |f| %>

                      <%= f.label :name_or_brand_name_cont %>
                      <%= f.search_field :name_or_brand_name_cont %>
                      <%= hidden_field_tag(:merchant_id, @merchant.id)%>
                      <span>100-500</span>
                      <%= check_box_tag(:first_range) %>
                      <span>500-1000</span>
                      <%= check_box_tag(:second_range) %>
                      <span>more than 1000</span>
                      <%= check_box_tag(:third_range) %>
                      <%= f.submit %>
                    <% end %><br/>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 merchant-wrapper">
                    <% @products.each_slice(2).each do |slices| %>
                    <% slices.each do |product| %>
                    <div class="col-md-6 col-sm-6 col-xs-12 pl0">
                        <div class="merchant-list-details">
                            <div class="col-md-5 col-sm-12 col-xs-12 logo_container">
                                <div class="merch-logo" style="margin-top: 0px!important">
                                  <img class="menu_icon" height="auto" width="150px" src="<%= product.images.first.url %>" />
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-12 col-xs-12 merchant_container">
                                <div class="merch-detail">
                                    <h5><%= product.merchant.name %></h5>
                                    <div class="contacts">
                                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                        <p><%= product.name %></p>
                                    </div>
                                    <div class="contacts">
                                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                        <p><%= product.description %></p>
                                    </div>
                                    <% if product.brand.present? %>
                                      <div class="contacts">
                                          <i class="fa fa-user-o" aria-hidden="true"></i>
                                          <p><%= product.brand.name %></p>
                                      </div>
                                    <% end %>

                                    <div class="contacts">
                                        <i class="fa fa-inr" aria-hidden="true"></i>
                                        <p><%= product.price %></p>
                                    </div>

                                    <%= link_to 'Show Details', merchant_product_path(@merchant, product), {:class=>'more-info'} %>

                                </div>
                            </div>
                        </div>
                    </div>
                    <% end %>

                    <%end%>

                </div>
            </div>
        </div>
    </section>
    <%= render 'layouts/footer' %>

</div>
</body>

</html>
