<footer class="footer">

    <div class="footer-top hidden-xs hidden-sm hidden-1024px">
        <div class="container">

            <div class="row visible-md visible-lg">
                <div class="col-md-3">
                    <a href="#" class="footer-logo"><img src="/assets/images/Logo_Footer.png" class="img-responsive"></a>
                </div>
                <div class="col-md-3">
                    <h4 class="footer_headings">Get to Know Us</h4>
                </div>
                <div class="col-md-3">
                    <h4 class="footer_headings">Merchants</h4>
                </div>
                <div class="col-md-3">
                    <h4 class="footer_headings">Help Desk</h4>
                </div>
            </div>
            <div class="row visible-md visible-lg">
                <div class="col-lg-12">
                    <div class="ds-default-line-wrapper"><div class="ds-default-line"></div></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-3 footer-colmn">
                    <a href="#" class="footer-logo visible-xs visible-sm"><img src="/assets/images/Logo_Footer.png" class="img-responsive"></a>
                    <p>Doha Sooq offers you the most level playing field - it does not matter who you are, where you are, what you want, or what you produce - Doha Sooq provides you the platform to buy and sell.</p>
                    <div class="contacts">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <p>13th Floor, Doha Bank Tower, Near Sheraton, Corniche Street West Bay, PO BOX 3818 Doha, Qatar</p>
                    </div>
                    <div class="contacts">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <p>For English: <span class="highlight">+974-40154791</span> <br/>(Timing 7.30am to 2.45pm)<br/> Sunday to Thursday</p>
                    </div>
                    <div class="contacts">
                        <p>For Arabic: <span class="highlight">+974-40154793</span> <br/>(Timing 7.30am to 2.45pm)<br/> Sunday to Thursday</p>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 footer-colmn">
                    <h4 class="footer_headings visible-xs visible-sm">Get to Know Us</h4>
                    <ul class="footer-list-links">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Legal Information</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 footer-colmn">
                    <h4 class="footer_headings visible-xs visible-sm">Merchants</h4>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="footer-list-links">
                                <li><a href="#">All Merchants</a></li>
                                <li><a href="#">Merchant Login</a></li>
                            </ul>
                        </div>
                    </div>
                    <h4 class="footer_headings">Payment Method</h4>
                    <ul class="footer-payment-links">
                        <li><a href="#"><img src="/assets/images/visa.png" class="img-responsive"></a></li>
                        <li><a href="#"><img src="/assets/images/mastercard.png" class="img-responsive"></a></li>
                        <li><a href="#"><img src="/assets/images/Mastercard2.png" class="img-responsive"></a></li>
                        <li><a href="#" class="text">Debit Card</a></li>
                        <li><a href="#" class="text">Credit Card</a></li>
                        <li><a href="#" class="text">Doha Miles</a></li>
                        <li><a href="#" class="text">Naps</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 footer-colmn">
                    <h4 class="footer_headings visible-xs visible-sm">Help Desk</h4>
                    <a href="#" class="helpdesk">
                        <div class="icon">
                            <img src="/assets/images/mobicon.png" class="img-responsive">
                        </div>
                        <span>Customer</span>
                    </a>
                    <a href="#" class="helpdesk">
                        <div class="icon">
                            <img src="/assets/images/mobicon.png" class="img-responsive">
                        </div>
                        <span>Merchant</span>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div class="footer-bottom">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 go-up">
                    <a href="#" class="go-up-arrow">
                        <span>
                            <i class="fa fa-angle-double-up bounce-infinite" aria-hidden="true"></i>
                            <div>Top</div>
                        </span>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <p class="copyright">All rights reserved. 2017 By <a href="#">DOHA SOOQ</a></p>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="social-wrapper">
                        <span class="followus-text">Follow Us</span>
                        <ul class="footer-social">
                            <li><a href="#" class="ripple"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="ripple"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="ripple"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="ripple"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="ripple"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
</footer>
