<!-- /#sidebar-wrapper -->
<!-- Navigation -->
<header id="header">
    <nav class="navbar ds-navbar" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle sidebar_toggle_btn">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="/assets/images/logo.png" class="img-responsive"></a>
                <div class="mobile-cart-btn visible-xs">
                    <a href="#" type="button" class="btn dropdown-toggle ripple" data-toggle="dropdown">
                        <div class="wc-icon">
                            <span class="wc-count"></span>
                            <img src="/assets/images/Cart.png" class="img-responsive">
                        </div>
                    </a>
                </div>
            </div>
            <div class="header-nav-right clearfix">
                <div class="header-mobile-parts">
                    <div class="btn-group wishlist-cart hidden-xs">
                      <div class="btn-group wishlist">
                        <a href="<%= customer_wishlists_path(@customer) %>" type="button" class="btn dropdown-toggle ripple" >
                            <div class="wc-icon">
                                <span class="wc-count"><%= @customer.wishlists.count %></span>
                                <img src="/assets/images/Favorite.png" class="img-responsive">
                            </div>
                        </a>
                      </div>
                      <div class="btn-group cart">
                        <a href="<%= customer_cart_products_path(@customer) %>" type="button" class="btn dropdown-toggle ripple">
                            <div class="wc-icon">
                                <span class="wc-count"><%= @customer.cart_products.count %></span>
                                <img src="/assets/images/Cart.png" class="img-responsive">
                            </div>
                        </a>
                      </div>
                    </div>
                    <div class="search-login">
                        <form class="form">
                            <div class="input-group navbar-search">
                              <select class="search_select">
                                  <option value="volvo">All</option>
                                  <option value="saab">Saab</option>
                                  <option value="mercedes">Mercedes</option>
                                  <option value="audi">Audi</option>
                              </select>
                              <input type="text" class="form-control" placeholder="Search">
                              <span class="input-group-btn search-btn">
                                <button class="btn" type="button"><img src="/assets/images/Search.png" class="img-responsive"></button>
                              </span>
                            </div><!-- /input-group -->
                        </form>

                        <div class="btn-group login-lang hidden-xs hidden-sm hidden-1024px">
                          <div class="input-group-btn login-sec">
                            <a href="#" type="button" class="btn dropdown-toggle" data-toggle="dropdown">Login</a>
                          </div>
                          <div class="input-group-btn lang-sec">
                            <select class="lang_select">
                                  <option value="volvo">Eng</option>
                                  <option value="saab">QA</option>
                                  <option value="mercedes">Eng</option>
                                  <option value="audi">Eng</option>
                            </select>
                          </div>
                        </div>
                    </div>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="navbar-collapse hidden-xs hidden-sm hidden-1024px" id="bs-example-navbar-collapse-1">
                    <div class="header-line-wrapper">
                        <div class="ds-horizontal-line"></div>
                    </div>
                    <div class="ds-nav-wrapper">
                        <ul class="nav navbar-nav ds-nav navbar-right">
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Electronics</a>
                            </li>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cake & Chocolates</a>
                            </li>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gifts</a>
                            </li>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle disabled " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fashion</a>
                            </li>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle disabled " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Watches</a>
                            </li>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Jewellery</a>
                            </li>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </div>
        <!-- /.container -->
    </nav>
</header>
