<!DOCTYPE html>
<html>
  <head>
    <title>Carmatec</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <script src="/assets/js/vendor/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/js/vendor/jquery.bxslider.js"></script>

    <script src="/assets/js/vendor/bootstrap.min.js"></script>
    <script src="/assets/js/vendor/bootstrap-select.min.js"></script>
    <script src="/assets/js/vendor/slick.min.js"></script>
    <script src="/assets/js/vendor/viewportchecker.js"></script>
    <script src="/assets/js/vendor/bootstrap-rating.min.js"></script>
    <script src="/assets/js/vendor/jquery.missofis-countdown.js"></script>
    <script src="/assets/js/vendor/bootstrap-slider.min.js"></script>
    <script src="/assets/js/custom-plugin.js"></script>


    <!-- custom scripts -->
    <script src="/assets/js/scripts.js"></script>
     <script src="/assets/js/vendor/jquery.material.form.js"></script>
    <script type="text/javascript">
     $(function(){
        $('form.material').materialForm();
         if($('.yesaccount').is(':checked')){
           $('.accountNumber').parent().fadeIn(200);
         }else{
           $('.accountNumber').parent().fadeOut(200);
         }
        $('.yesaccount,.noaccount').click(function(){
           $('.accountNumber').parent().fadeToggle(200);
        });
        $('.file').click(function(){
            $('.fileupload').click();
        });
        $('.fileupload').on('change', function() {
           $('.file').addClass('filled').val($('.fileupload')[0].files[0].name);
        });
        $('.file').parent().append('<i class="fa fa-upload" aria-hidden="true"></i>');
      });
    </script>
  </body>
</html>
